.nav {
  border-bottom: 2px solid #dbdcde;
}

.nav-list {
  display: flex;
  list-style-type: none;
}

.nav-item {
  margin-left: 16px;
  font-size: 17px;
  letter-spacing: 0.03em;
  line-height: 20px;
  text-transform: uppercase;
}

.nav-link {
  color: #2f2f30;
  text-decoration: none;
}