* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: linear-gradient(0deg, #ffffff, #ffffff);
}
.contianer {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 0 auto;
  margin-right: 0 auto;
}

:root {
  /* fonts */
  --font-source-code-pro: "Source Code Pro";
  --font-work-sans: "Work Sans";

  /* font sizes */
  --font-size-base: 16px;
  --font-size-sm: 14px;

  /* Colors */
  --gray-100: #2f2f30;
  --gray-10: #fafafa;
  --gray-80: #6c6d6f;
  --focused-logo-color: #00a651;
  --gray-40: #dbdcde;
  --gray-50: #d7d8da;
  --links: #6665dd;

  /* border radiuses */
  --br-5xs: 8px;

  /* Effects */
  --container-shadow-not-active: 1px 3px 3px rgba(62, 63, 64, 0.1);

  	
  	/* fonts */
  	--font-work-sans: 'Work Sans';
  	
  	/* font sizes */
  	--font-size-base: 16px;
  	
  	/* Colors */
  	--gray-100: #2f2f30;
  	--focused-non-text: #2eb670;
  	--white: #fff;
  	--gray-70: #a9abae;
  	
  	/* Paddings */
  	--padding-5xs: 8px;
  	--padding-xs: 12px;
  	
  	/* border radiuses */
  	--br-xs: 12px;
  	--br-9xs: 4px;
  	--br-7xs: 6px;
  	
}
